.wrapper{
  flex: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: stretch;
    height: 100%;
    background-color: #111;
      max-width: calc(100vw - 350px);

}

.content { 
  flex: auto;
  background-color: #222;
  display: grid; 
  place-items: center;
  height: calc(100% - 160px);
  max-height: 100vh;
  overflow: auto;
  max-width: calc(100vw - 350px);
  position: relative;
}

.grid { 
  display: grid;  
  gap: 4px;
  position: absolute;
  transform: translateX(calc((50% + 20px)));

  &.dualgrid{
    border: 1px solid yellow;
    transform: translateX(calc((50% + 20px) * -1));
  }
  &.roads{
    pointer-events: none;
  }
  &.preview{
    pointer-events: none;
  }
}


.bar{
  width: 100%;
  height: 80px;
  background-color:#111;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 8px;
  
  > div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 16px;
  }

  .divider{
    height: 40px;
    width: 2px;
    background-color: #666;
  }
}