
.tile{
  --dither-width: 100%;
  --dither-height: 5px;

  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
    background-size: cover;

  > span{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
    font-size: 8px;
    font-weight:bold;
    pointer-events: none;
    user-select: none; 
  }

  &.show-grid{
    outline: 1px solid rgba(255,255,255,0.5);
  }

  &.preview{
    outline: 2px solid rgba(255,255,255,1);
  }

  &.invalid{
    background-color: rgba(255,0,0,0.5);
  }

  &.valid{
    &.water{
        background-image: url('./assets/water-base.png');
    }
    &.grass{
      background-image: url('./assets/grass-base.png');
      &.water-top{
        background-image: url('./assets/grass/Grass-base-T.png');
      }
      &.water-bottom{
        background-image: url('./assets/grass/Grass-base-B.png');
      }
      &.water-left{
        background-image: url('./assets/grass/Grass-base-L.png');
      }
      &.water-right{
        background-image: url('./assets/grass/Grass-base-R.png');
      }
      &.water-top-left{
        background-image: url('./assets/grass/Grass-base-TL.png');
      }
      &.water-top-right{
        background-image: url('./assets/grass/Grass-base-TR.png');
      }
      &.water-bottom-left{
        background-image: url('./assets/grass/Grass-base-BL.png');
      }
      &.water-bottom-right{
        background-image: url('./assets/grass/Grass-base-BR.png');
      }
      &.water-top-bottom{
        background-image: url('./assets/grass/Grass-base-V.png');
      }
      &.water-left-right{
        background-image: url('./assets/grass/Grass-base-H.png');
      } 
      &.water-top-left-right{
        background-image: url('./assets/grass/Grass-base-LTR.png');
      }
      &.water-top-left-bottom{
        background-image: url('./assets/grass/Grass-base-TLB.png');
      }
      &.water-top-right-bottom{
        background-image: url('./assets/grass/Grass-base-TRB.png');
      }
      &.water-left-right-bottom{
        background-image: url('./assets/grass/Grass-base-LBR.png');
      }
      &.water-top-left-right-bottom{
        background-image: url('./assets/grass/Grass-base-single.png');
      }

    }
    &.road{
      background-image: url('./assets/road.png');
    }
    &.destroy{
      background-image: url('./assets/destroy.png');
    }
    &.elevationup{
      background-image: url('./assets/elevation-up.png');
    }
    &.elevationdown{
      background-image: url('./assets/elevation-down.png');
    }
  }
}


.elevation{
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}


.tree{
  background-color: black;
  height: 100%;
  width: 100%;
}